 <!-- ======= About Section ======= -->
 <section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <span>Objetivos</span>
        <h2>Objetivos</h2>
        <p></p>
      </div>
      <div class="row">
        <div class="col-lg-6  hero-img">
          <img src="/assets/img/personagens/mulher_apontando.png" class="img-fluid animated" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>Por um Governo mais Digital</h3>
          <h4>
            <!-- Promover a transformação dos serviços públicos para melhorar a satisfação do cidadão por meio de práticas inovadoras, soluções digitais e parcerias estratégicas. -->
          </h4>

          <!--  Arccordion -->
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h5>Promover a Inclusão Digital</h5>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Promover a inclusão digital é essencial para garantir que todas as pessoas tenham acesso às oportunidades e aos benefícios proporcionados pela tecnologia. A inclusão digital envolve fornecer acesso à internet e a dispositivos tecnológicos, além de capacitar indivíduos com as habilidades necessárias para utilizar essas ferramentas de forma eficaz. 
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h5>Fomentar a aplicação da Conectividade</h5>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Fomentar a ampliação da conectividade é crucial para integrar mais pessoas à era digital e às oportunidades que ela oferece. A conectividade robusta e acessível permite que comunidades inteiras tenham acesso à internet de alta qualidade, promovendo a inclusão digital e o desenvolvimento socioeconômico.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h5>Garantir acesso efetivo a informações de interesse público</h5>
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Garantir acesso efetivo a informações de interesse público é essencial para a transparência e a democracia. Quando a população tem acesso fácil e rápido a dados governamentais e outras informações relevantes, ela pode participar de maneira mais informada nas decisões políticas e sociais.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFor">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
                  <h5>Centralizar, em portal único o acesso a serviços e base de dados</h5>
                </button>
              </h2>
              <div id="collapseFor" class="accordion-collapse collapse" aria-labelledby="headingFor" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Um portal único oferece uma plataforma integrada onde cidadãos, empresas e outras entidades podem acessar uma ampla gama de serviços e informações governamentais de maneira conveniente e rápida.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  <h5>Disponibilizar acesso à plataforma nacional de autenticação e assinatura digital.</h5>
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Com a autenticação digital, cidadãos podem acessar serviços públicos e privados de forma prática, garantindo a segurança e a integridade de suas informações pessoais. Isso facilita o acesso a serviços como declaração de impostos, inscrição em programas sociais, abertura de empresas e muitos outros procedimentos administrativos.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  <h5>Digitalizar o acesso e a prestação de serviços públicos</h5>
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  A digitalização envolve a transformação de processos e serviços tradicionais em versões eletrônicas, acessíveis online, proporcionando uma série de benefícios tanto para o governo quanto para a população.
                </div>
              </div>
            </div>
          </div>
          <!-- // arccordion -->
        </div>
      </div>

    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Featured Services Section ======= -->
  <section id="featured-services" class="featured-services">
    
    <div class="container">
     
    </div>
  </section>
<!-- End Featured Services Section -->


  <!-- ======= Team Section ======= -->
  <section id="services" class="team section-bg">
    <div class="container">

      <div class="section-title">
        <span>Plano de Ações</span>
        <h2>Plano de Ações</h2>
        <h3>Apoiamos e orientamos os órgãos e entidades do governo estadual para simplificar e desburocratizar os serviços públicos, promovendo a transformação digital.</h3>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <a href="">
              <img class="transition scale-125-hover duration-300 ease-in-out"  style="height: 300px;"src="assets/img/icones/portal-unico.png" alt="">
            </a>
            <h3>Portal Único de Serviços</h3>
            
            <p>
              Essa centralização simplifica o processo de busca e utilização de serviços públicos, reduzindo a burocracia e economizando tempo para os usuários.
            </p>
            <a href="">
              <button type="button" class="btn btn-primary">Saiba Mais...</button>
            </a>
            
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <a href="">
              <img class="transition scale-125-hover duration-300 ease-in-out"  style="height: 300px;"src="assets/img/icones/carta-servico.png" alt="">
            </a>
            <h3>Novas Cartas de Serviços</h3>
           
            <p>
              A elaboração e disponibilização de novas Cartas de Serviços ao Cidadão são iniciativas essenciais para modernizar a administração pública e melhorar a qualidade dos serviços.
            </p>
            <a href="">
              <button type="button" class="btn btn-primary">Saiba Mais...</button>
            </a>
            
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <a href="">
              <img class="transition scale-125-hover duration-300 ease-in-out" style="height: 300px;" src="assets/img/icones/participacao-cidada.png" alt="">
            </a>
            <h3>Participação Cidadã</h3>
            <p>
              A participação cidadã é um elemento crucial para fortalecer a democracia e promover uma governança mais transparente, inclusiva e responsiva.
            </p>
            <a href="">
              <button type="button" class="btn btn-primary">Saiba Mais...</button>
            </a>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Team Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="team section-bg">
    <div class="container">

      <div class="section-title">
        <span>Eixos EGD-Setic</span>
        <h2>Eixos</h2>
        <h3>Eixos Estruturantes da Estratégia de Governo Digital</h3>
      </div>

      <div class="row">
        
        <div class="col-lg-4 col-md-6 align-items-stretch">
          <div class="member">
            <a href="">
              <img class="transition delay-150 scale-125-hover duration-300 ease-in-out" src="assets/img/icones/transf_digital.png" width="150px" alt="">
            </a>
            <h3>Transformação Digital dos Serviços</h3>
            <span></span>
          </div>
        </div>
      
        <div class="col-lg-4 col-md-6 align-items-stretch">
          <div class="member">
            <a href="">
              <img class="transition delay-150 scale-125-hover duration-300 ease-in-out"  src="assets/img/icones/unific_canais.png"  width="150px" alt="">
            </a>
            <h3>Unificação dos Canais Digitais do Governo</h3>
            <span></span>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 align-items-stretch">
          <div class="member">
            <a href="">
              <img class="transition delay-150 scale-125-hover duration-300 ease-in-out"  src="assets/img/icones/a-infraestrutura.png"  width="150px" alt="">
            </a>
            <h3>Infraestrutura e Conectividade</h3>
            <span></span>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 align-items-stretch">
          <div class="member">
            <a href="">
              <img class="transition delay-150 scale-125-hover duration-300 ease-in-out"  src="assets/img/icones/dados_inteligencia.png"  width="150px" alt="">
            </a>
            <h3>Dados e Inteligência de Negócio</h3>
            <span></span>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 align-items-stretch">
          <div class="member">
            <a href="">
              <img class="transition delay-150 scale-125-hover duration-300 ease-in-out"  src="assets/img/icones/privacidade_seguranca.png"  width="150px" alt="">
            </a>
            <h3>Privacidade e Segurança da Informação</h3>
            <span></span>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <a href="">
              <img class="transition delay-150 scale-125-hover duration-300 ease-in-out"  src="assets//img/icones/interoperabilidade.png"  width="150px"alt="">
            </a>
            <h3>Integração e Interoperabilidade</h3>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Section -->

  <!-- ======= Testimonials Section ======= -->
 

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container">

      <div class="text-center">
        <h3>Download do nosso guia ETD- 2024 a 2027</h3>
        <p>O presente plano terá vigência de 07 (sete) meses (exercício 2024), podendo as ações nele contempladas terem duração superior, constituindo-se em ações continuadas.
        </p>
        <a class="cta-btn" href="#">Download</a>
      </div>

    </div>
  </section><!-- End Cta Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container">

      <div class="section-title">
        <span>Metas Específicas</span>
        <h2>Metas Específicas</h2>
        <h3>Nossas metas em transformação digital nos serviços</h3>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-8 mb-8  align-items-stretch">

          <div class="card">
            <h5 class="card-header">Transformação Digital dos Serviços:</h5>
            <div class="card-body">
              <ul class="card-text">
                <li> <h6>Digitalizar 100% dos serviços públicos prioritários até 2027.</h6></li>
                <li> <h6>Garantir que 70% dos serviços digitais sejam utilizados por pelo menos 50% da população alvo até 2027.</h6> </li>
              </ul>
            </div>
          </div>
          
        </div>

        <div class="col-lg-4 col-md-6  align-items-stretch">
          <div class="card">
            <h5 class="card-header">Unificação dos Canais Digitais:</h5>
            <div class="card-body">
              <ul class="card-text">
                <li> <h6>Criar um portal único de serviços digitais até 2025.</h6></li>
                <li> <h6>Integrar todos os sistemas de atendimento ao cidadão em um único canal digital até 2026.</h6> </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6  align-items-stretch">
          <div class="card">
            <h5 class="card-header">Unificação dos Canais Digitais:</h5>
            <div class="card-body">
              <ul class="card-text">
                <li> <h6>Criar um portal único de serviços digitais até 2025.</h6></li>
                <li> <h6>Integrar todos os sistemas de atendimento ao cidadão em um único canal digital até 2026.</h6> </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6  align-items-stretch">
          <div class="card">
            <h5 class="card-header">Infraestrutura e Conectividade:</h5>
            <div class="card-body">
              <ul class="card-text">
                <li> <h6>Expandir a cobertura de internet banda larga para 95% da população rural e urbana até 2026.</h6></li>
                <li> <h6>Modernizar a infraestrutura de TIC em todos os órgãos governamentais até 2025.</h6> </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6  align-items-stretch">
          <div class="card">
            <h5 class="card-header">Privacidade e Segurança da Informação:</h5>
            <div class="card-body">
              <ul class="card-text">
                <li> <h6>Estabelecer uma política de segurança da informação em todos os órgãos governamentais até 2024.</h6></li>
                <li> <h6>Realizar auditorias de segurança anuais em todos os sistemas governamentais até 2027.</h6> </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6  align-items-stretch">
          <div class="card">
            <h5 class="card-header">Dados e Inteligência de Negócios:</h5>
            <div class="card-body">
              <ul class="card-text">
                <li> <h6>Implementar uma plataforma de big data e analytics para suporte à decisão até 2025.</h6></li>
                <li> <h6>Garantir que 80% dos gestores públicos sejam capacitados no uso de ferramentas de análise de dados até 2026.</h6> </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section><!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <span>Rondônia mais Digital</span>
        <h2>Rondônia mais Digital</h2>
        <h3>Uma Rondônia cada vez mais conectada,
          uma Rondônia cada vez mais digital</h3>
      </div>

      <div class="row">

        <div class="text-center">
          
          <!-- Aqui vai a imagem do Rondonia mais digital 😉😅😅 -->
          <img  class="logo-rocket" src="/assets/img/images-home/rocket-gov.png" alt="">

        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->