<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Governo Mais Digital - Setic</h1>
        <h2>Conheça a Estratégia de Governo Digital da Setic</h2>
        <div class="d-flex">
          <a href=https://wiki.setic.ro.gov.br/home/compliance/estrategia_governo_digital" target="_blank" data-toggle="tooltip" title="DECRETO N° 29.168, DE 10 DE JUNHO DE 2024." class="btn-get-started scrollto">EGD-SETIC</a>
          <a href="https://mega.nz/file/HMtDnCoa#Vmm0NW2xXxD-eO68MxGTwBy6GMLW2qoVWs_mVUSgR-o" target="_blank"  class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Assista o Vídeo</span></a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="/assets/img/images-home/personagem1-V3.png" class="img-fluid animated" alt="">
      </div>
  </div>
</div>

</section>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>